<li>
  <p class="title">
    <span class="source">
      <span class="label label-default"><%= link_to paper.reference, paper_path(paper.department, paper) %></span>
    </span>
    <%= link_to paper.title, paper_path(paper.department, paper) %>
  </p>
  <p class="meta">
    Ausarbeitung vom <%= time_tag(paper.created_at, l(paper.created_at))%>, <%= paper.page_count || '?' %> Seiten
  </p>
</li>
