<% title 'FAQ' %>
<div class="page-header">
  <h1>FAQ</h1>
</div>

<h3>Wieso gibt es <em>sehrgutachten</em>?</h3>
<p>
  Nachdem der Bundestag entschieden hat, die Gutachten seines Wissenschaftlichen Dienstes künftig online zu veröffentlichen (<a href="http://blog.fragdenstaat.de/2016/fragdenbundestags-erfolg/">mehr dazu hier</a>), hat er Ende Februar 2016 erste Arbeiten auf seine Webseite gestellt. Die Dokumente sind allerdings nicht aufbereitet - die Aufstellung ist unübersichtlich und nicht durchsuchbar. Deswegen gibt es <em>sehrgutachten</em>: Auf dieser Seite stellen wir die Gutachten strukturiert dar und machen sie auch im Volltext durchsuchbar. Damit eröffnen sich verschiedene Möglichkeiten: Die Gutachten stehen für eine wissenschaftliche Analyse bereit, NutzerInnen können sich per Feed über neu hochgeladene Gutachten informieren und für EntwicklerInnen gibt es Daten über die Gutachten im JSON-Format.
</p>

<h3>Was ist der Wissenschaftliche Dienst?</h3>
<p>
  In den Wissenschaftlichen Diensten des Bundestags arbeiten in elf Unterabteilungen etwa 100 Personen zu allen politisch relevanten Themen. Sie arbeiten den Mitgliedern und Gremien des Bundestags zu. Detaillierte Informationen zum Wissenschaftlichen Dienst, auch zur Unterscheidung der Dokumententypen “Ausarbeitung”, “Sachstand” und Co., gibt es im <a href="https://fragdenstaat.de/files/foi/44516/wd_leitfaden_bundestag.pdf">internen Leitfaden des Bundestags</a> (Stand: März 2008), den wir per <a href="https://fragdenstaat.de/anfrage/leitfaden-zur-nutzung-des-wissenschaftlichen-dienstes/">Anfrage auf FragDenStaat.de</a> befreit haben.
</p>

<h3>Sind hier alle Gutachten des Wissenschaftlichen Dienstes aufgeführt?</h3>
<p>
  Nein. Der Bundestag hat versprochen, künftig alle neuen Gutachten online zu veröffentlichen. Tausende bisher angefragten Gutachten werden ebenfalls schrittweise veröffentlicht. Wann dieser Prozess abgeschlossen sein wird, ist jedoch noch unklar. Es scheint zudem noch nicht entschieden, ob auch frühere Gutachten seit Gründung des Wissenschaftlichen Dienste veröffentlicht werden.
</p>

<h3>Wie sieht es mit dem Urheberrecht aus?</h3>
<p>
  Der Bundestag behält sich sämtliche Nutzungsrechte an den Gutachten vor. Das halten wir für juristisch fragwürdig, aber auch inhaltlich für eine falsche Entscheidung: Die steuerfinanzierten Dokumente sollten auch von der Bevölkerung weitergenutzt werden.
</p>

<h3>Wie kann ich mich auf dem Laufenden halten?</h3>
<p>
  Stellt der Bundestag neue Ausarbeitungen auf seine Seite, erscheinen sie auch hier. Per <%= link_to "Feed", recent_path(format: :atom) %> kann jede Person über neue Gutachten informiert werden.
</p>

<h3>In welchen Formaten gibt es die Gutachten?</h3>
<p>
  Der Bundestag gibt die Gutachten als PDF-Dokumente heraus, die er entweder aus Word-Dokumenten oder Scans generiert und ggf. noch schwärzt. Auf <i>sehrgutachten</i> werden alle PDFs automatisch per OCR lesbar gemacht und neben der PDF-Version als TXT und JSON. Dazu einfach an die URL eines Gutachtens .txt bzw. .json anhängen.
</p>

<h3>Und was ist mit den wissenschaftlichen Diensten in den Parlamenten der Bundesländer?</h3>
<p>
  Auch viele Landesparlamente haben eigene wissenschaftliche Dienste. Wir planen, deren Gutachten ebenfalls in diese Datenbank aufzunehmen. Erste Nachforschungen dazu gibt es <a href="https://fragdenstaat.de/anfragen/tag/wdlandtag/">hier</a>. Wir freuen uns über Mithilfe beim Befreien der Dokumente.
</p>

<h3>Und wo ist jetzt dieses Nacktbaden-Gutachten, über das alle reden?</h3>
<p>
  <a href="https://sehrgutachten.de/bt/wd7/178-05-zu-den-rechtlichen-moeglichkeiten-gegen-das-nacktbaden-auf-einem-benachbarten-grundstueck">Hier.</a>
</p>

<h3>Kann ich euch unterstützen?</h3>
<p>
  Sehr gerne! Wir freuen uns über Mithilfe bei <a href="https://github.com/okfde/sehrgutachten">GitHub</a>, Kontakt per <a href="mailto:info@sehrgutachten.de">E-Mail</a> oder <a href="https://twitter.com/sehrgutachten">Twitter</a> und vor allem über <a href="https://okfn.de/spenden">Spenden</a>.
</p>

