<p>
  Der Bundestag hat versprochen, tausende Gutachten seines Wissenschaftlichen Dienstes zu veröffentlichen. Etwa 900 Gutachten sind bereits auf der <a href="http://bundestag.de/ausarbeitungen/">Bundestags-Website</a> online.
</p>
<p>
  Allerdings sind die Daten noch nicht aufbereitet. Um sie für die Öffentlichkeit nutzbar zu machen, müssen sie strukturiert und einfach durchsuchbar sein.
</p>
<p>
  Dafür gibt es diese Website! Mit einem Klick kannst du hier alle bisher vom Bundestag veröffentlichten Gutachten nach Titel und Inhalt durchsuchen und herunterladen. Versuch es zum Beispiel mit Gutachten zum Thema <a href="">Terrorismus</a>.
</p>
<p>
  <strong>Sehrgutachten!</strong>
</p>
<p>
  <a href="http://blog.fragdenstaat.de/2016/fragdenbundestags-erfolg/">Erfahre hier, warum der Bundestag seine Gutachten herausgibt</a>
</p>