/*
 *= require_self
 */

@import "bootstrap-sprockets";

// From: https://github.com/thoughtbot/bourbon/blob/9fc15d596c770b6a29648255d4b40dfd7476dd77/app/assets/stylesheets/css3/_font-face.scss
// Order of the includes matters, and it is: normal, bold, italic, bold+italic.
@mixin font-face($font-family, $file-path, $weight: normal, $style: normal) {
  @font-face {
    font-family: $font-family;
    font-weight: $weight;
    font-style: $style;
    src: font-url('#{$file-path}.eot');
    src: local($font-family),
         font-url('#{$file-path}.eot?#iefix') format('embedded-opentype'),
         font-url('#{$file-path}.woff2')      format('woff2'),
         font-url('#{$file-path}.woff')       format('woff'),
         font-url('#{$file-path}.ttf')        format('truetype');
  }
}

@include font-face("Poly", 'poly-regular-webfont');
@include font-face("Poly", 'poly-italic-webfont', normal, italic);

$brand-btncolor:   #fea600;
$btn-brand-color:  #fff;
$btn-brand-bg:     $brand-btncolor;
$btn-brand-border: darken($btn-brand-bg, 5%) !default;

@import "bootstrap";

.btn-brand {
  @include button-variant($btn-brand-color, $btn-brand-bg, $btn-brand-border);
}

h1,
h2,
h3 {
  font-family: serif;
}

.fonts-loaded h1,
.fonts-loaded h2,
.fonts-loaded h3 {
  font-family: 'Poly', serif;
}

.navbar {
  margin-top: 10px;
  margin-bottom: 15px;
}

.navbar-brand {
  font-weight: 500;
  font-size: 20px;
  text-indent: -3000em;
  background: image-url('sehrgutachten-logo.svg') center no-repeat;
  background-origin: content-box;
  min-width: 235px;
}

.app-footer.container {
  margin-top: 25px;
  color: $gray-light;
}

.app-footer .row {
  border-top: 1px solid $gray-lighter;
  padding: 5px 0;
}

.footer-project-line {
  padding-top: 10px;
}

.footer-support-logo {
  text-align: center;
}

.footer-support-logo img {
  height: 75px
}

.footer-links ul {
  padding: 0;
  list-style: none;
  // reset the left/right padding of the <li>s
  margin-left: -5px;
  margin-right: -5px;
}

.footer-links li {
  display: inline-block;
  padding: 2px 5px;
}

.footer-links a {
  display: inline-block;
  padding: 2px 0;
}

.footer-related ul {
  text-align: right;
}

.search-block {
  background: linear-gradient(135deg, #dadfdb 0%,#d1d6d2 100%);
  margin: 25px 0;
  padding: 30px;
  border-radius: 8px;

  .tagline {
    color: #4D5A50;
    /* text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5); */
    margin: 0;
    font-family: serif;
    font-weight: normal;
    /* font-style: italic; */
    font-size: 2.2rem
  }
}

.fonts-loaded .search-block .tagline {
  font-family: 'Poly', serif;
}

.dep-short {
  font-size: 90%;
  text-transform: uppercase;
}


.paper-list {
  list-style: none;
  padding: 0;

  li {
    margin-bottom: 1.6em;
    @media (min-width: $screen-xs-min) {
      margin-bottom: 0.6em;
    }
  }

  p {
    margin-bottom: 0;
    padding-left: 0;
    @media (min-width: $screen-xs-min) {
      padding-left: 60px;
    }
  }

  .source {
    display: inline-block;
    float: left;
    @media (min-width: $screen-xs-min) {
      margin-left: -60px;
    }
  }

  .meta {
    color: #AAA;
    margin-left: 1.7em;
    font-size: 0.9em;
    line-height: 1.8;
    margin-left: 0;
  }

  &.paper-list--with-department {
    p {
      padding-left: 0;
      @media (min-width: $screen-xs-min) {
        padding-left: 85px;
      }
    }
    .source-and-title {
      padding-left: 65px;
      @media (min-width: $screen-xs-min) {
        padding-left: 85px;
      }
    }
    .source {
      margin-left: -65px;
      @media (min-width: $screen-xs-min) {
        margin-left: -85px;
      }
    }
    .label {
      display: block;
      margin-top: 5px;
      @media (min-width: $screen-xs-min) {
        display: inline;
        margin-top: 0;
      }
    }
  }
}

.label {
  font-weight: normal;
  margin-right: 3px;
}

.label-big {
  font-size: 17px;
}

.label a {
  text-decoration: none;
  color: inherit;
  font-weight: inherit;
}

.container > h1:first-child {
  margin-top: 0;
}


.page-header {
  padding-bottom: 9px;
  margin: 0 0 20px;
  border-bottom: 1px solid #eeeeee;
}

.page-header p {
  margin: 0;
}

.page-header h1 {
  margin: 0;
  font-size: 25px;
  line-height: 1.25;

  @media (min-width: $screen-sm-min) {
    font-size: 30px;
    line-height: 1.35;
  }

  .label {
    font-size: 15px;
    vertical-align: 40%;
  }
}

.paper-iframe {
  margin-top: 15px;
  border: 1px solid #aaa;
}

.pagination {
  margin: 0;
}

.pagination-total {
  text-align: right;
}